.sec1 {

    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;

}
.sec1 .container .row {
    display: flex;
}
.sec1 .container .row img {
   margin-left: 45%;
   margin-bottom: 7%;
}
.sec1 .container .row h6 {
    text-align: center;
    font-family: "Lora", serif;
    color: rgb(112, 107, 107);
 }
 .sec1 .container .row p {
    text-align: center;
    font-family: "Lora", serif;
    color: rgb(161, 151, 151);
 }
 .sec2 {

    width: 100%;
    background-color: rgb(255, 224, 246);
    margin-top: 30px;
   

}
.sec2 .container .row {
    display: flex;
}
.sec2 .container .row h2 {
    margin-top: 10%;
    text-align: center;
    font-family: "Playwrite GB S", cursive;
    color: rgb(0, 0, 0);
 }
 .sec2 .container .row h1 {
    text-align: center;
    font-family: "Lora", serif;
    color: rgb(0, 0, 0);
    margin-top: 20px;
 }
 .sec2 .container .row img{
  margin-top: 10%;

 }
 .sec2 .container .row p{
   text-align: center;
   margin-top: 10px;
   color: rgb(170, 166, 166);
   font-family: 'Courier New', Courier, monospace;
   }
   .sec2 .container .row img:hover{
    opacity: 80%;
    transition: all 1s ease;
    transform: scale(1.05);
   
   }
   .sec3{
    width: 100%;
    background-image: url("website22/img12.jpg");
   }

   .counter {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    animation: fadeIn 1s ease-in;
    color: white;
}
.sec4 {

    width: 100%;
    
    margin-top: 30px;


}

.sec4 .container .row {
    display: flex;
    justify-content: space-between;
}
button.btn.btn-outline-light{
color:rgb(36, 35, 35);
    border-color:black;
}

.sec4 .container .row h3 {
    
  
    font-family: "Playwrite GB S", cursive;
    color: rgb(0, 0, 0);

}
.sec4 .container .row h1 {
    font-size: 2rem;
    margin-top: 2rem;
    font-family: "Playwrite GB S", cursive;
    color: rgb(0, 0, 0);

}
.sec4 .container .row p {
  
    margin-top: 1rem;
    color: rgb(0, 0, 0);
     width: 320px;

}
#img{

background-image: url("website22/img16.jpg");
background-size: cover;
background-position: 50%;

}
.sec5{
height: 600px;
width: 95%;
background-image: url("website22/img15.jpg");
background-size: cover;
background-position: 50%;
margin-left: 2%;
margin-top: 10%;

}
.carousel-inner{

    margin-top: 10%;
    text-align: center;
}
.sec6{
 width: 100%;
 background-color: white;
  text-align: center;

}
.sec6 h4{

    font-family: "Playwrite GB S", cursive;
    color: rgb(0, 0, 0);
    margin-top: 8%;
}
.sec6 h2{

    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    
}
.sec7{
width: 100%;
margin-top: 8%;
text-align: center;
background-image: url(website22/img16.jpg);
background-size: cover;
background-position: 50%;
}
.sec7 img {

    border: none;
    border-radius: 10px;
}
.sec7 img:hover{
    opacity: 80%;
    transition: all 1s ease;
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 2px;
    border-radius: 50%;
}
.sec7 h6{
    margin-top: 8px ;
    font-weight: 700;
    color: rgb(29, 28, 28);
    font-family: 'Times New Roman', Times, serif;

}
.sec7 p{
    margin-top: 8px ;
    color: rgb(48, 46, 46);
}

.sec7 a{
margin: 8px;
    
}
.sec7 a i:hover{

transform: scale(1.2);
transition: all ease 1s;
opacity: 40%;
}
.sec8 {
    margin-top: 4%;
    width: 100%;
    background-color: rgba(255, 192, 181, 0.671);
    text-align: center;
   
}
.sec8 h3{
margin-top: 3%;
font-family: 'Times New Roman', Times, serif;
}

.sec8 img {
margin-top: 5%;
height: 300px;
width: 300px;
padding:3%;

}
.sec8 img:hover {
transition: all ease 1s;
opacity: 10%;
}
.sec8 input{
border: none;
width: 450px;
height: 30px;
padding: 10px;

}
.sec8 button{

border: none;
padding: 7px;
background-color: black;
color: white;
font-size: smaller;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
.sec8 button:hover{
opacity: 90%;
background-color: rgb(36, 35, 35);

}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.counter2 {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    animation: fadeIn 1s ease-in;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.counter3 {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    animation: fadeIn 1s ease-in;
    color: white;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.counter4 {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    animation: fadeIn 1s ease-in;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


   
   @media screen and (max-width:768px) {
    .sec2 .container .row img{
     width: 100%;
        
    }
    .sec3 .container .row {
      display: none;
           
       }
}

 


